<nav class="d-flex justify-content-between align-items-center px-5">
  <section class="ps-3">
    <a class="text-decoration-none letra-navbar" href="#">
      <img src="/QuickBites/src/assets/img/cooking_1830839.png" alt="" />
      <p>QuickBites</p>
    </a>
  </section>
  <section class="d-flex letra-navbar">
    <a href="#" class="px-3 text-decoration-none letra-navbar">
        <fa-icon [icon]="faHouse"></fa-icon>
        Home
    </a>
    <a href="#" class="px-3 text-decoration-none letra-navbar">
        <fa-icon [icon]="faLigthbulb"></fa-icon>
        Tips
    </a>
    <a href="#" class="px-3 text-decoration-none letra-navbar">
        <fa-icon [icon]="faBook"></fa-icon>
        Resetas
    </a>
  </section>
  <section class="d-flex pe-3">
    <div>
      <button class="rounded-pill border-0 py-2 px-3 btnUser">
        <fa-icon [icon]="faUser"></fa-icon>
        Login
      </button>
    </div>
  </section>
</nav>
<section class="navbar2 letra-navbar d-flex justify-content-center align-items-center pt-2">
  <p class="fs-4">Te ayudamos a ahorrar tiempo y comer delicioso</p>
</section>