<section class="contImgHome">
    <img class="imgHome w-100 object-fit-cover" src="mexican-tacos-with-chicken-bell-peppers-black-beans-fresh-vegetables.jpg" alt="">
    <div class="fs-1 letra-navbar nbLogo home">HOME</div>
</section>
<section>
    <div class="d-flex align-items-center cardRecetas contImgHome">
        <img class="imgResetas object-fit-cover m-5" src="fried-meat-with-mushrooms-rice_1.jpg" alt="">
        <div>
            <p class="fs-2 fw-semibold">Recetas.</p>
            <p class="me-5 pe-3 fs-5">Explora nuestra selección de recetas rápidas diseñadas para facilitarte la vida en la cocina. Desde desayunos energéticos hasta cenas deliciosas, cada receta está optimizada para ofrecer sabor y simplicidad. ¡Cocinar nunca fue tan fácil!</p>
            <div class="d-flex align-items-end justify-content-end">
                <button class="rounded-pill border-0 py-2 px-5 fs-5 btnRecetas">Ver</button>
            </div>
        </div>
    </div>
    <div class="d-flex align-items-center cardTips contImgHome">
        <div class="ms-5 ps-3">
            <p class="fs-2 fw-semibold">Tips de cocina.</p>
            <p class="fs-5">Descubre prácticos tips de cocina que te ayudarán a ahorrar tiempo, aprovechar mejor tus ingredientes y elevar tus platillos al siguiente nivel. Perfectos para cocineros principiantes y expertos por igual.</p>
            <div class="d-flex align-items-end justify-content-end">
                <button class="rounded-pill border-0 py-2 px-5 fs-5 btnTips">Ver</button>
            </div>
        </div>
        <img class="imgResetas object-fit-cover m-5" src="hands-writing-notebook-with-cass.jpg" alt="">
    </div>
</section>