.contImgHome {
  position: relative;
}

.home {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.imgHome {
  height: 372px;
}

.imgResetas{
    width: 500px;
    height: 500px;
}